<<<<<<< HEAD
:root {
    --num-columnas: 10;
    --num-filas: 10;
    --size: 32px;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(var(--num-columnas), var(--size));
    grid-template-rows: repeat(var(--num-filas), var(--size));
}

#tablero div {
    background-color: #BBBBBB;
    border-left: 2px solid #D3D3D3;
    border-top: 2px solid #D3D3D3;
    border-right: 2px solid #A9A9A9;
    border-bottom: 2px solid #A9A9A9;
    text-align: center;
    line-height: var(--size);
=======
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
}
li{
	list-style:none;
}
lo{
    list-style:none;
}
html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 24%, #CCE);
	background-size: cover;
}
#container{
	width:80%;
	height:auto;
	margin:4px auto;
}
#calculadora{
	width: 234px;
	height: 250px;
	padding:2px;
    background-color: #48484D;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
.input-valor{
	margin:8px auto;
	width:95%;
	height:30px;
	font-size: 16px;
	overflow:hidden;
	text-align: right;
	color:#8fbc8f;
	padding: 4px;
	background-color:#2f4f4f;
	box-shadow: inset -1px -1px 4px 1px #eee;
}
.key li{
	width:50px;
	height:30px;
	border-radius:3px;
	color:#fff;
	background-color:#000000;
	cursor:pointer;
	float:left;
	margin: 0px -3px 5px 8px;
	line-height: 30px;
	text-align: center;
	box-shadow: 0px 1px 1px 0px #ffffff;
}
.key li:hover{
	background-color: #c0c0c0;
	color: #ffd700;
	transition:0.2s;
}
.key li:active{
	box-shadow: 0px 1px 1px 0px #ffffff;
}

.verificar{
	width: 93.4% !important;
>>>>>>> a3d9fe671fad3e8321587b6276a5c7f01659be3d
}